{% extends "base.html" %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Highscores</title>
</head>
<body>
{% block content %}

<table class="table text-center">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Score</th>
      <th scope="col">Number correct</th>
    <th scope="col">Number incorrect</th>
    </tr>
  </thead>
  <tbody>
  {% for result in results %}
      <tr>
      <th scope="row">{{ forloop.counter0 }}</th>
      <td>{{ result.user }}</td>
      <td>{{ result.score }} %</td>
      <td>{{ result.correct }}</td>
      <td>{{ result.incorrect }}</td>
    </tr>
  {% endfor %}

  </tbody>
</table>

    {% endblock content %}
</body>
</html>