{% extends "base.html" %}

{% block content %}

    {% load crispy_forms_tags %}

    <!--Login-->
    <div class="p-3 mb-2 bg-success text-dark">
        <h1>Login</h1>
            <br>
        <form method="POST">
            {% csrf_token %}
            {{ login_form|crispy }}
        <br>
        <br>
            <button class="btn btn-outline-danger btn-lg" type="submit">Login</button>
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}

                </div>
            {% endif %}
        </form>
        <p class="text-center">Don't have an account? <a href="{% url 'questions:register' %}">Create an account</a>.
        </p>
    </div>

{% endblock %}