{% extends "base.html" %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    {% block scripts %}
    {% endblock scripts %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
<div class="container mt-3">
    {% block content %}
        <form method="post" action="{% url 'questions:validate_quiz' %}">
            {% csrf_token %}
            {% for question in questions %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ question.text }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Pick an answer:</h6>
                        <ul>
                            <input type="radio" id="{{ question.id }}" name="{{ question.id }}" value="0">
                            <label for="{{ question.0 }}">{{ question.0 }}</label><br>

                            <input type="radio" id="{{ question.id }}" name="{{ question.id }}" value="1">
                            <label for="{{ question.1 }}">{{ question.1 }}</label><br>

                            <input type="radio" id="{{ question.id }}" name="{{ question.id }}" value="2">
                            <label for="{{ question.2 }}">{{ question.2 }}</label><br>

                            <input type="radio" id="{{ question.id }}" name="{{ question.id }}" value="3">
                            <label for="{{ question.3 }}">{{ question.3 }}</label><br>
                        </ul>
                    </div>
                </div>
                <br>
            {% endfor %}
            <button  type="submit" type="button" class="btn btn-primary">Submit</button>
        </form>
    {% endblock content %}
</div>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</body>
</html>