{% extends "base.html" %}

{% block content %}

    {% load crispy_forms_tags %}

    <!--Register-->
    <div class="p-3 mb-2 bg-success text-dark">
        <h1>Register</h1>
        <form method="POST">
            {% csrf_token %}
            {{ register_form|crispy }}
            <button class="btn btn-outline-danger btn-lg" type="submit">Register</button>
        </form>
        {% if message %}
            <div class="alert" role="alert">
                {{ message }}

            </div>
        {% endif %}

        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}

            </div>
        {% endif %}

    {% if register_form.errors %}
    <div class="alert alert-danger">
        {{ register_form.errors }}
    </div>
{% endif %}
        <p class="text-center">If you already have an account, <a href={% url 'questions:login' %}>login</a> instead.
        </p>
    </div>

{% endblock %}