{% extends "base.html" %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    {% block scripts %}
    {% endblock scripts %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
<div class="container mt-3">
    {% block content %}

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Your results</h5>
                <h6 class="card-subtitle mb-2 text-muted">Well done!</h6>
                <p class="card-text">Here's a breakdown of how you did</p>
                <div>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Your score</td>
                            <td>{{ result.score }} %</td>
                        </tr>
                        <tr>
                            <td># Correct</td>
                            <td>{{ result.correct }}</td>
                        </tr>
                        <tr>
                            <td># Incorrect</td>
                            <td>{{ result.incorrect }}</td>
                        </tr>
                        <tr>
                            <td># Answered</td>
                            <td>{{ result.total_answered }}</td>
                        </tr>
                        <tr>
                            <td>Total # Questions</td>
                            <td>{{ result.total_questions }}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <a href="{% url 'questions:take_quiz' %}" class="card-link">Start another quiz</a>
                <a href="{% url 'questions:high_score' %}" class="card-link">See Highscores</a>
            </div>
        </div>
    {% endblock content %}
</div>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</body>
</html>