<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
{#    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">#}
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap.min.css" %}">


    <!-- INSERT ADITIONAL INFORMATION TO THE HEAD TAG HERE-->
    {% block head %}
    {% endblock %}

    <!-- CHANGES THE PAGE TITLE IF THE VARIABLE "title" IS PASSED BY THE VIEW -->
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <!-- USE DEFAULT TITLE TEXT IF NO VARIABLE "title" IS PASSED BY THE VIEW -->
        <title>My Films App</title>
    {% endif %}

</head>
<body>
<!-- BOOTSTRAP NAVBAR CODE -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="d-flex justify-content-between px-5 mx-auto" style="width: 90%;">
        <span class="navbar-text text-white">TRIVIA QUIZZ APP</span>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link active" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link active" href="{% url 'questions:high_score' %}">HighScore</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link active" href="{% url 'questions:register' %}">Register</a>
            </li>

            {% if not user.is_authenticated %}
                <li>
                <li class="nav-item active">
                    <a class="nav-link active" href="{% url 'questions:login' %}">LogIn</a>
                </li>
            {% endif %}

            {% if user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link active" href="{% url 'questions:logout' %}">LogOut</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
<!-- END OF NAVBAR CODE-->


<div class="container-fluid mt-5" style="max-width: 80%">
    <!-- INSERT THE CONTENT FROM SPECIFIC PAGES HERE-->
    {% block content %}
    {% endblock %}
</div>

</body>
</html>