{% extends 'base.html' %}
{% block content %}

    <div class="p-3 mb-2 bg-success text-white rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold text-center">Test your knowledge with us!</h1>
                    <br>
        <p class="col-md-12 fs-2 text-center">Are you ready?!</p>
          <br>
          <br>
        <a type="button" class="d-grid gap-2 col-6 mx-auto btn btn-outline-danger btn-lg" href="{% url 'questions:take_quiz' %}">Take a quiz!</a>
      </div>
    </div>

{% endblock %}

